<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tomfoolery_bot">

    <link name="base_link">
        <visual>
            <geometry>
                <box size="1.0 1.0 1.0"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="1.0 1.0 1.0"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.16" ixy="0.0" ixz="0.0" iyy="0.16" iyz="0.0" izz="0.16"/>
        </inertial>
    </link>

    <gazebo reference="base_link">
        <material>Gazebo/Red</material>
    </gazebo>
</robot>